p{
    color:blue;
    background-color: pink;
}
h1{
    color: paleturquoise;
} h2{}
a{color:blue;}
body{ background: linear-gradient(to right, green, #2575fc);
   color: white; 
   font-family: Arial, sans-serif;
}
h1{font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}
h2{font-style: italic;}
p{font: "Arial";
     font-weight: normal;
     font-weight: bold;}
a{font-style: oblique;}
.gray-element{
    border: grey;
}
#Capital-letter{ 
    color: red;
}
button{color: whitesmoke;
background: #2575fc; 
 border: none;
 padding: 10px 20px;
 border-radius: 8px; 
 cursor: pointer; 
 transition: 0.3s;
}
button:hover{
    background: #6a11cb; transform: scale(1.05);
}
.text{
    font-style:italic;
      border: solid 1px;}
#twitt{ 
    background-color: aqua;
    border: solid 10px;}
Img{
    width: 200px; height: 200px; border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0px 4px 8px rgba(o,o,o,o.3);
    object-fit: cover;
}
h1{text-align:center;}
#intro{padding-right: 50px; text-align: center;}
.me{
    padding-left:50px ;
}
p{
    padding: 0 10px 0 0;}
body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0;
        text-align: center;
    }

  #username {
    border: 1px solid blue;
    padding: 5px;
    margin-bottom: 1px;
    border-radius: 3px;
  }
#password {
    border: 1px solid blue;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
  }
  